body {
  background-color: #000000;
  color: white;
  font-family: Arial, sans-serif;
  animation: fadeIn 1s ease-in;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SMOOTH SCROLL */
html {
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background-color: #000000;
  border-bottom: 1px solid #222;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

/* MENU */
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: red;
}

/* ACTIVE LINK */
.nav-links a.active {
  color: red;
  border-bottom: 2px solid red;
  padding-bottom: 3px;
}

/* HOME */
.home {
  text-align: left;
  margin-top: 210px;
  padding: 0 60px;
}

/* HOME TEXT */
.home h1 {
  font-size: 45px;
}

.home p {
  margin-top: 10px;
  color: #ccc;
  font-size: 18px;
  max-width: 600px;
}

/* RED NAME */
.red {
  color: red;
}

/* PROFILE IMAGE */
.profile-img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;

  position: relative;
  left: 930px; /* 👉 move right */
  transform: translateY(-170px);/* pagtaas ng pic */
  border: 3px solid red;
  box-shadow: 0 0 20px red, 0 0 40px red;
}

.about {
  padding: 100px 60px;
}

.about-container {
  display: flex;
  align-items: center;     
  justify-content: center;  /* Pinapagitna ang dalawa sa screen */
  gap: 150px;                /* Saktong distansya ng pic at text */
  max-width: 1200px;
  margin: 0 auto;
}

.about-img {
  width: 350px;
  height: 350px;           
  border-radius: 50%;       
  object-fit: cover;        
  border: 3px solid red;
  box-shadow: 0 0 25px red; /* Gagana na ito nang tama dahil wala nang letrang 'I' */
  flex-shrink: 0;           
}

.about-text {
  max-width: 650px;         
}

.about-text h1 {
  font-size: 45px;
  margin-bottom: 25px;      
}

.about-text h3 {
  font-size: 18px;
  font-weight: normal;      
  line-height: 1.7;         
  color: #ccc;              
}

